.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.aboutImg {
  width: 100%;
  height: auto;
}

.aboutPage {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.heading {
  font-size: 20px;
  font-weight: bold;
}

.speciesName {
  font-weight: bold;
  padding: 30px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
}

.post {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  position: relative;
  width: 280px;
  height: 387px;
  display: inline-block;
  margin-right: 10%;
  margin-bottom: 5%;
  vertical-align: top;
}


.details {
  color: #1293e6;
  font-weight: bold;
  text-decoration: none;
  margin-left: 15%;
}

.petInfo {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 5px;

}

.postImg {
  width: 280px;
  height: 170px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hidden {
  display: none;
}

.icon {
  width: 25px;
  height: 25px;
  padding-right: 15px;
}

.animalInfo {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container {
  margin-left: 12%;
}

.nav {
  background:#1293e6;
  padding: 15px;
  height: 20px;
}

.links {
  margin-right: 10%;
  float: right;
  

}

.link {
  color: #ffff;
  text-decoration: none;
  font-weight: bold;
  padding-left: 100px;
}

.logo {
  color: #ffff;
  text-decoration: none;
  font-weight: bold;
  float: left;
  
  margin-left: 135px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.petDetails {
  display: block;
  padding: 30px;
  padding-left: 150px;
  padding-right: 150px;
}

.petTitle {
  margin-left: 0px;
  margin-top: 0px;
}

.adopt-me-button {
  color: white;
  border-radius: 20px;
  background-color: #1293e6;
  border: none;
  padding: 12px;
  padding-left: 35px;
  padding-right: 35px;
}

.already-taken {
  color: white;
  border-radius: 20px;
  background-color: grey;
  border: none;
  padding: 12px;
  padding-left: 35px;
  padding-right: 35px;
}

img.description-image {
  width: 230px;
  height: 150px;
}

.image {
  padding: 0px;
}

.all-pets {
  padding-left: 40px;
  padding-top: 10px;
}

.detail-container{
  display: flex;
  margin-left: 0px;
}